@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300&display=swap");
h1 {
  color: #fcfffc;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 36px;
}

h2 {
  color: #fcfffc;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 36px;
}

h3 {
  color: #fcfffc;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

p, label, dd, dt {
  color: #fcfffc;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

a {
  color: #fcfffc;
}

@keyframes open-menu {
  0% {
    width: 50px;
    height: 46px;
    background-color: #248232;
  }
  30% {
    width: 184px;
    height: 46px;
  }
  100% {
    background-color: #248232;
    width: 184px;
    height: 282px;
  }
}
@keyframes menu-button-top-on-pressed {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(14.5px) rotate(-0.125turn);
  }
}
@keyframes menu-button-middle-on-pressed {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(580px);
  }
}
@keyframes menu-button-bottom-on-pressed {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-14.5px) rotate(0.125turn);
  }
}
#menu-button {
  position: fixed;
  top: 15px;
  right: 13px;
  z-index: 2;
  width: 50px;
  height: 46px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu-button #burger {
  width: 40px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}
#menu-button #burger .burger-component {
  width: 40px;
  height: 7px;
  border-radius: 10px;
  background-color: #fcfffc;
}

#menu-button.active #burger-component1 {
  transform: translateY(14.5px) rotate(-0.125turn);
}
#menu-button.active #burger-component2 {
  transform: translateX(58px);
}
#menu-button.active #burger-component3 {
  transform: translateY(-14.5px) rotate(0.125turn);
}

#menu-button.animated #burger-component1 {
  animation: menu-button-top-on-pressed 0.25s ease-in-out;
}
#menu-button.animated #burger-component2 {
  animation: menu-button-middle-on-pressed 0.25s ease-in-out;
}
#menu-button.animated #burger-component3 {
  animation: menu-button-bottom-on-pressed 0.25s ease-in-out;
}

#menu-button.reversed .burger-component {
  animation-direction: reverse !important;
}

#menu-button:hover {
  background-color: #248232;
}

menu {
  position: absolute;
  top: 15px;
  right: 13px;
  width: 50px;
  height: 46px;
  padding: 0px;
  overflow: hidden;
  border-radius: 10px;
}
menu * {
  display: none;
}
menu li {
  list-style: none;
}
menu a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #040f0f;
  display: flex;
  justify-content: center;
  align-items: center;
}
menu a:hover {
  background-color: rgba(252, 255, 252, 0.25);
}
menu a#current-page {
  text-decoration: underline;
}

menu.animated {
  animation: open-menu 0.25s ease-in-out;
}

menu.reversed {
  animation-direction: reverse;
}

menu.active {
  width: 184px;
  height: 282px;
  padding-top: 46px;
  background-color: #248232;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
menu.active li {
  width: 100%;
  height: 100%;
  display: list-item;
}

header {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 76px;
  background-color: #2ba84a;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  padding-left: 11px;
  display: flex;
  align-items: center;
}

section {
  margin-top: 42px;
}

section#contact-info {
  display: flex;
  flex-direction: column;
}
section#contact-info h2 {
  align-self: center;
}

dl#contact-details {
  margin-left: 20px;
}
dl#contact-details dt {
  margin-top: 8px;
}

section#contact-me {
  display: flex;
  flex-direction: column;
}
section#contact-me h2 {
  align-self: center;
}
section#contact-me p {
  width: calc(100vw - 40px);
  margin-top: 8px;
  align-self: center;
}

form#contact-form {
  width: calc(100vw - 40px);
  margin-top: 39px;
  align-self: center;
  display: flex;
  flex-direction: column;
}
form#contact-form div.input-container {
  margin-top: 8px;
}
form#contact-form label {
  display: block;
}
form#contact-form input, form#contact-form textarea {
  width: 100%;
  border-radius: 5px;
  border: 0px;
  color: #040f0f;
  background-color: #fcfffc;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  display: block;
}
form#contact-form input:focus, form#contact-form textarea:focus {
  outline: none;
}
form#contact-form input#message-field, form#contact-form textarea#message-field {
  height: 178px;
}
form#contact-form input#title-field, form#contact-form textarea#title-field {
  height: 32px;
}
form#contact-form input#email-field, form#contact-form textarea#email-field {
  height: 24px;
}
form#contact-form button {
  width: 131px;
  height: 57px;
  margin-top: 39px;
  align-self: center;
  border: none;
  border-radius: 5px;
  background-color: #2ba84a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  color: #fcfffc;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
form#contact-form button:focus {
  box-shadow: none;
}

main#work-main {
  padding-top: 42px;
  display: flex;
  flex-direction: column;
}

h2#work-heading {
  align-self: center;
  margin-bottom: 8px;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  padding-top: 76px;
  padding-bottom: 40px;
  background-color: #2d3a3a;
}

/*# sourceMappingURL=style.css.map */
