@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300&display=swap");
h1 {
  color: #fcfffc;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 36px;
}

h2 {
  text-align: center;
  color: #fcfffc;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 36px;
}

h3 {
  color: #fcfffc;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

p, label, dd, dt {
  color: #fcfffc;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

a {
  color: inherit;
}

@keyframes open-menu {
  0% {
    width: 50px;
    height: 46px;
    background-color: #248232;
  }
  30% {
    width: 184px;
    height: 46px;
  }
  100% {
    background-color: #248232;
    width: 184px;
    height: 282px;
  }
}
@keyframes menu-button-top-on-pressed {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(14.5px) rotate(-0.125turn);
  }
}
@keyframes menu-button-middle-on-pressed {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(580px);
  }
}
@keyframes menu-button-bottom-on-pressed {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-14.5px) rotate(0.125turn);
  }
}
#menu-button {
  position: fixed;
  top: 15px;
  right: 13px;
  z-index: 2;
  width: 50px;
  height: 46px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu-button #burger {
  width: 40px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}
#menu-button #burger .burger-component {
  width: 40px;
  height: 7px;
  border-radius: 10px;
  background-color: #fcfffc;
}

#menu-button.active #burger-component1 {
  transform: translateY(14.5px) rotate(-0.125turn);
}
#menu-button.active #burger-component2 {
  transform: translateX(58px);
}
#menu-button.active #burger-component3 {
  transform: translateY(-14.5px) rotate(0.125turn);
}

#menu-button.animated #burger-component1 {
  animation: menu-button-top-on-pressed 0.25s ease-in-out;
}
#menu-button.animated #burger-component2 {
  animation: menu-button-middle-on-pressed 0.25s ease-in-out;
}
#menu-button.animated #burger-component3 {
  animation: menu-button-bottom-on-pressed 0.25s ease-in-out;
}

#menu-button.reversed .burger-component {
  animation-direction: reverse !important;
}

#menu-button:hover {
  background-color: #248232;
}

menu {
  position: absolute;
  top: 15px;
  right: 13px;
  width: 50px;
  height: 46px;
  padding: 0px;
  overflow: hidden;
  border-radius: 10px;
}
menu * {
  display: none;
}
menu li {
  list-style: none;
}
menu a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #040f0f;
  display: flex;
  justify-content: center;
  align-items: center;
}
menu a:hover {
  background-color: rgba(252, 255, 252, 0.25);
}
menu a#current-page {
  text-decoration: underline;
}

menu.animated {
  animation: open-menu 0.25s ease-in-out;
}

menu.reversed {
  animation-direction: reverse;
}

menu.active {
  width: 184px;
  height: 282px;
  padding-top: 46px;
  background-color: #248232;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
menu.active li {
  width: 100%;
  height: 100%;
  display: list-item;
}

@media screen and (min-width: 768px) {
  nav {
    width: 100%;
  }

  #menu-button {
    display: none;
  }

  menu {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 0px;
  }
  menu li {
    width: auto;
    height: 100%;
    display: list-item;
  }
  menu a {
    padding: 0px 15px;
    color: #fcfffc;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
header {
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100vw;
  height: 76px;
  background-color: #2ba84a;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  padding-left: 11px;
  display: flex;
  align-items: center;
}

main#index-main {
  height: calc(100vh - 76px - 40px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img#photo {
  width: 216px;
  height: auto;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

p#hero-summary {
  width: 216px;
  margin-top: 8px;
  text-align: center;
}

main#about-me-main {
  padding: 0px 20px;
}
main#about-me-main > section {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
}
main#about-me-main h2 {
  align-self: center;
  text-align: center;
}
main#about-me-main h3 {
  align-self: center;
  text-align: center;
}

section#education {
  display: flex;
  flex-direction: column;
}

aside#introduction {
  width: 100vw;
  padding: 20px;
  position: relative;
  left: -20px;
  background-color: #248232;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

article.school {
  margin-top: 8px;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
}
article.school img {
  width: 172px;
  height: auto;
  align-self: center;
  margin: 8px;
}

@media screen and (min-width: 768px) {
  main#about-me-main {
    padding-left: 420px;
    display: flex;
    flex-direction: row;
  }

  aside#introduction {
    height: calc(100vh - 76px);
    width: 400px;
    padding: 20px;
    background-color: #248232;
    position: fixed;
    left: 0px;
    top: 76px;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.5);
  }
  aside#introduction h3 {
    align-self: center;
  }

  article.school {
    display: block;
    margin-bottom: 22px;
  }
  article.school h3 {
    margin-bottom: 10px;
  }
  article.school img {
    float: left;
    margin-right: 15px;
  }
}
section#education {
  grid-area: edu;
}

form#contact-form {
  width: calc(100vw - 40px);
  margin-top: 39px;
  align-self: center;
  display: flex;
  flex-direction: column;
}
form#contact-form div.input-container {
  margin-top: 8px;
}
form#contact-form label {
  display: block;
}
form#contact-form input, form#contact-form textarea {
  width: 100%;
  border-radius: 5px;
  border: 0px;
  color: #040f0f;
  background-color: #fcfffc;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  display: block;
}
form#contact-form input:focus, form#contact-form textarea:focus {
  outline: none;
}
form#contact-form input#message-field, form#contact-form textarea#message-field {
  height: 178px;
}
form#contact-form input#title-field, form#contact-form textarea#title-field {
  height: 32px;
}
form#contact-form input#email-field, form#contact-form textarea#email-field {
  height: 32px;
}
form#contact-form button {
  width: 131px;
  height: 57px;
  margin-top: 39px;
  align-self: center;
  border: none;
  border-radius: 5px;
  background-color: #2ba84a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  color: #fcfffc;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
form#contact-form button:focus {
  box-shadow: none;
}

main#contact-main section {
  margin-top: 42px;
}
main#contact-main section#contact-info {
  display: flex;
  flex-direction: column;
}
main#contact-main section#contact-info h2 {
  align-self: center;
}
main#contact-main dl#contact-details {
  margin-left: 20px;
}
main#contact-main dl#contact-details dt {
  margin-top: 8px;
}
main#contact-main section#contact-me {
  display: flex;
  flex-direction: column;
}
main#contact-main section#contact-me h2 {
  align-self: center;
}
main#contact-main section#contact-me p {
  width: calc(100vw - 40px);
  margin-top: 8px;
  align-self: center;
}

@media screen and (min-width: 768px) {
  form#contact-form {
    width: 676px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 333px 106px;
    column-gap: 36px;
    grid-template-areas: "tt em" "mg mg" "bt bt";
  }
  form#contact-form label {
    height: 28px;
  }
  form#contact-form .input-container {
    margin-top: 0px !important;
  }
  form#contact-form #title-input {
    grid-area: tt;
  }
  form#contact-form #message-input {
    grid-area: mg;
  }
  form#contact-form #message-input textarea {
    height: calc(100% - 28px);
  }
  form#contact-form #email-input {
    grid-area: em;
  }
  form#contact-form #send-button {
    grid-area: bt;
    margin-top: 0px;
    justify-self: center;
    align-self: center;
  }
}
@media screen and (min-width: 768px) {
  aside#contact-info {
    height: calc(100vh - 76px);
    width: 400px;
    padding: 20px;
    background-color: #248232;
    position: fixed;
    left: 0px;
    top: 76px;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.5);
  }

  main#contact-main {
    padding-left: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  main#contact-main section#contact-me {
    width: 676px;
    height: 666px;
  }
  main#contact-main section#contact-me p {
    width: 100%;
  }
}
main#work-main {
  padding-top: 42px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}
main#work-main article {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
}
main#work-main article h3 {
  align-self: center;
}
main#work-main article img {
  margin: 8px;
  align-self: center;
}

p#github-referense {
  margin-top: 22px;
}

h2#work-heading {
  align-self: center;
  margin-bottom: 8px;
}

img#robot-arm-image {
  max-width: 324px;
  min-width: 190px;
  height: auto;
}

@media screen and (min-width: 768px) {
  main#work-main {
    padding-left: 420px;
  }

  aside#work-introduction {
    height: calc(100vh - 76px);
    width: 400px;
    padding: 20px;
    background-color: #248232;
    position: fixed;
    left: 0px;
    top: 76px;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.5);
  }

  section#work-projects {
    width: calc(100vw - 400px);
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  article.work-article {
    min-width: 350px;
    max-width: 400px;
    margin-right: 20px;
  }
}
* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: auto;
  padding-top: 76px;
  padding-bottom: 40px;
  background-color: #2d3a3a;
  overflow-x: hidden;
}

img {
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=style.css.map */
