$black: #040F0f;
$darkGreen: #248232;
$green: #2BA84A;
$grey: #2D3A3A;
$white: #FCFFFC;

@use "header/menu-button";
@use "header/menu";

header {
    h1 {
        color: $white;
        /* Font is displaying weird: look into */
        font-family: 'Roboto Light', sans-serif;
        size: 36px;
    }

    position: absolute;

    width: 100vw;
    height: 76px;
    background-color: $green;
    box-shadow: 0px 4px 4px rgba(black, 0.5);

    padding-left: 11px;

    display: flex;
    align-items: center;
}