@use "./abstracts" as *;

h1 {
    color: $white;
    @include font($roboto, $light, 36px);
}

h2 {
    text-align: center;	
    color: $white;
    @include font($openSans, $light, 36px);
}

h3 {
    color: $white;
    @include font($openSans, $regular, 24px);
}

h4 {
    color: $white;
    @include font($openSans, $regular, 24px);
}

h5 {
    color: $white;
    @include font($openSans, $regular, 20px);
}

p {
    color: $white;
    @include font($openSans, $regular, 18px);
}

a {
    color: inherit;
}

dt {
    @extend p;
}

dd {
    @extend p;
}

label {
    @extend p;
}