@use "./abstracts" as *;
@use './text-stylings';
@use './components/header';
@use './pages';

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    padding-top: header.$headerHeight;
    padding-bottom: 40px;
    background-color: $grey;
}