@use "./abstracts" as *;
@use './text-stylings';
@use './components/header';
@use './pages';

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: auto;

    padding-top: header.$headerHeight;
    padding-bottom: $paddingBottom;
    background-color: $grey;
}

img {
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(black, 0.5);
}