$black: #040F0f;
$darkGreen: #248232;
$green: #2BA84A;
$grey: #2D3A3A;
$white: #FCFFFC;

@keyframes openmenu {
    0% {
        width: 50px;
        height: 46px;
        background-color: $darkGreen;
        border: 1px solid $black;
    }

    30% {
        width: 184px;
        height: 46px;
    }

    100% {
        background-color: $darkGreen;
        border: 1px solid $black;
        width: 184px;
        height: 282px;
    }
}

menu {
    * {
        display: none;
    }

    position: absolute;
    top: 15px;
    right: 13px;

    width: 50px;
    height: 46px;
    padding: 0px;

    border-radius: 10px;
}

// menu.hover {
//     background-color: $darkGreen;
//     border: 1px solid $black;
// }

menu.animated {
    animation: openmenu 0.25s ease-in-out;
}

menu.reversed {
    animation-direction: reverse;
}

menu.active {
    // li {
    //     display: list-item;
    // }

    width: 184px;
    height: 282px;

    background-color: $darkGreen;
    border: 1px solid $black;
}