main#work-main {

    padding-top: 42px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
}

article.work-article {
    h3 {
        align-self: center;
    }

    img {
        margin: 8px;
        align-self: center;
    }

    margin-top: 40px;

    display: flex;
    flex-direction: column;
}

p#github-referense {
    margin-top: 22px;
}

h2#work-heading {
    align-self: center;
    margin-bottom: 8px;
}

img#robot-arm-image {
    max-width: 324px;
    min-width: 190px;
    height: auto;
}

