@forward './form';

main#contact-main {
    section {
        margin-top: 42px;
    }
    
    section#contact-info {
        h2 {
            align-self: center;
        }
    
        display: flex;
        flex-direction: column;
    }
    
    dl#contact-details {
        dt {
            margin-top: 8px;
        }
        margin-left: 20px;
    }
    
    section#contact-me {
        h2 {
            align-self: center;
        }
        p {
            width: calc(100vw - 40px);
            margin-top: 8px;
            align-self: center;
        }
    
        display: flex;
        flex-direction: column;
    }
    
    section#comments {
        .comment {
            img.profile-picture {
                width: 50px;
                height: 50px;

                margin: 8px 8px 0px 0px;

                float: left;

                box-shadow: none;
            }

            .username {
                font-weight: 600;
            }

            .comment-text {
                font-size: 16px;
            }

            min-height: 58px;
            margin-bottom: 20px;
        }

        padding: 20px;
        max-width: 676px + 20px * 2;
    }
}
