@use "../../abstracts" as *;
@use "../../components/header";

@media screen and (min-width: 768px) {
    main#about-me-main {
        padding-left: $asideWidth + 20px;

        display: flex;
        flex-direction: row;
    }

    aside#introduction {
        h3 {
            align-self: center;
        }

        height: calc(100vh - header.$headerHeight);
        width: $asideWidth;
        padding: 20px;
        background-color: $darkGreen;

        position: fixed;
        left: 0px;
        top: header.$headerHeight;
        
        box-shadow: 4px 0px 4px rgba(black, 0.5);
    }

    article.school {
        h3 {
            margin-bottom: 10px;
        }
        img {
            float: left;
            margin-right: 15px;
        }

        display: block;
        margin-bottom: 22px;
    }
}

section#education {
    grid-area: edu;
}