@use '../../abstracts' as *;

@media screen and (min-width: 768px) {
    nav {
        width: 100%;
    }

    #menu-button {
        display: none;
    }

    menu {
        li {
            width: 130px;
            height: 100%;

            display: list-item;
        }

        a {
            color: $white;
            font-size: 24px;
        }

        width: 130px * 4;
        flex-direction: row-reverse;
        justify-content: flex-start;
        border-radius: 0px;

        
    }
}
