@use "../../abstracts" as *;
@forward "menu-button";
@forward "menu";
@forward "./extended";

$headerHeight: 76px;

header {
    position: fixed;

    top: 0px;

    width: 100vw;
    height: $headerHeight;
    background-color: $green;
    filter: drop-shadow(0px 4px 4px rgba(black, 0.5));

    padding-left: 11px;

    display: flex;
    align-items: center;
}