@use "../../abstracts" as *;
@use "./animations";

#menu-button {
    #burger {
        .burger-component {
            width: 40px;
            height: 7px;
            border-radius: 10px;

            background-color: $white;
        }

        width: 40px;
        height: 36px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        filter: drop-shadow(0px 4px 4px rgba(black, 0.5));
    }

    position: fixed;
    top: 15px;
    right: 13px;
    z-index: 2;

    width: 50px;
    height: 46px;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-button.active {
    #burger-component1 {
        transform: translateY(14.5px) rotate(-0.125turn);
    }

    #burger-component2 {
        transform: translateX(58px);
    }

    #burger-component3 {
        transform: translateY(-14.5px) rotate(0.125turn);
    }
}

#menu-button.animated {
    #burger-component1 {
        animation: menu-button-top-on-pressed 0.25s ease-in-out;
    }

    #burger-component2 {
        animation: menu-button-middle-on-pressed 0.25s ease-in-out;
    }

    #burger-component3 {
        animation: menu-button-bottom-on-pressed 0.25s ease-in-out;
    }
}

#menu-button.reversed .burger-component {
    animation-direction: reverse !important;
}

#menu-button:hover {
    background-color: $darkGreen;
    // border: 1px solid $black;
}
